<h1>Eat the Burger</h1>

<div id="newBurgers">
<h2>Burgers to Eat</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
     <li> {{burger_name}} </li>
     <div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="oldBurgers">
<h2>Burger Eaten</h2>
<ul>
  {{#each burger}}
    {{#if devoured}}
      <li> {{burger_name}} </li>
    {{/if}}
  {{/each}}
</ul>
</div>
<h2>Make a Burger</h2>
<div class="container">
	<div class="row">
		<div class="col-4 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>